# Xcode
xcuserdata/
*.xcuserstate
*.xcbkptlist
*.xcscmblueprint
DerivedData/

# macOS
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/test_output
fastlane/screenshots

# Bundler
vendor/
.bundle/

# Build products
build/
*.ipa
*.dSYM.zip
*.app.dSYM

# Temporary files
.bundle/
vendor/
build/
*.log
*.xcresult
*.xml

# Xcode user data
App/*.xcuserdatad/
App/*.xcuserstate
