<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultDaysBetween</key>
	<integer>7</integer>
	<key>maxRecords</key>
	<integer>50</integer>
	<key>serverUrl</key>
	<string>http://localhost:8080</string>
</dict>
</plist>
